@charset "UTF-8";

html{
    font-size: 100%;
}

head{ display: none;
}


body{
  color: #000000;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
}

img{
    max-width: 100%;
}

#menu{
    display: flex;
}
img{
    width: 100%;
    height: 800px;
    object-fit: cover;
}
.cook{
    width: 1280px;
    padding: 60px 100px;
}
/*作り方*/
.cook h1{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.cook p{
    margin-top: 30px;
    font-size: medium;
    font-weight: 30px;
}

.zairyou{
    margin-top: 30px;
    width: 100%;
}

.zairyou h2{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9d9d9d;
}
.zairyou dl{
    display: flex;
    flex-wrap: wrap;
}


.zairyou dt{
    width: 85%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
}

.zairyou dd{
    width: 15%;
    border-bottom: dotted 1px #ccc;
    padding: 6px 0;
    text-align: right;
    margin-bottom: 0;
}


.tukurikata{
    margin-top: 30px;
}

.tukurikata li{
    font-size: 120%;
    font-weight: lighter;
    margin-bottom: 10px;

}

.tukurikata li{
    border-bottom: 1px solid #9d9d9d;
}
ol{
    margin-top: 30px;
    margin-left: 0;
}


/*ボタン*/
.btn-outline-dark{
    display:block;
    margin:60px auto;
    padding: 10px auto;
}


/*フッター*/
footer{
    text-align: center;
}

#link{
    margin-top: 40px;
}
#link a{
    color: #333;
    margin-left: 10px;
    font-size: medium;
    padding-bottom: 60px;

}

#footer {
     font-size: small;
     padding-top: 40px;
}